
{% load static %}
<html>
    <head>
        <title>Import XLSX data</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" type="text/css">

    </head>
    <body>
        {% block content %}
            <div class = "container">
        <p><h6 style="text-align:center;margin-top:30%;margin-bottom:7%;color:#1f56af;font-weight: bold;">IMPORT XLSX DATA</h6></p>
            <form method="post" enctype="multipart/form-data" style="padding:0.5%;">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload file</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="selected_file" name="selected_file">
                        <label class="custom-file-label " style="background-color:transparent"  for="selected_file">Choose file</label>
                    </div>
                </div>

                 <button class="btn btn-block text-white" style="margin-top:7%;background-color:#1f56af;"
                         type="submit" disabled>IMPORT</button>


            </form>
        </div>
          {% if uploaded_file_url %}
              <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
          {% endif %}

          {% if messages %}
                  {% for message in messages %}
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <div class="messages alert alert-success">
                          <strong {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                      </div>
                      {% endif %}
                      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <div class="messages alert alert-danger">
                          <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</strong>
                      </div>

                      {% endif %}
                  {% endfor %}
          {% endif %}

            {% if messages.error %}
                <div>Error!</div>
            {% endif %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>
            $('#selected_file').on('change',function(){
                //get the file name
                var filePath = $(this).val();
                var index = filePath.lastIndexOf('\\');
                var fileName = filePath.slice(index + 1);
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
                $(":submit").removeAttr("disabled");
            })
        </script>
    </body>
</html>
